// *** color ***
$text-color: #222;
$theme-color: #170a48;
$secondary-color: #f2277731;
$ternary-color: #ccf962;
$link-color: $secondary-color;
$menu-color: white;

// *** fonts ***
$text-font: verdana, Arial, sans-serif;
$headline-font: 'Palatino Linotype', 
Georgia, serif;

// *** sizes ***
$content-width: 960px;
$footer-height: 90px;
$header-height: 60px;