$text-color: #222;
$header-height: 60px;

body {
  font-family: sans-serif;
  color: $text-color;
}

h1, h2, h3, h4 {
  
}

p {
  
}

a {

}

#header {
  height: $header-height;

  #main-menu {

  }
  
  #logo {

  }
}

#main {

  #content {
  }

  #sidebar {
  }
}

#footer {

}
