// ***@import declarations***
@import './partials/functions';
@import './partials/varibles';
@import './partials/mixins';

@include google-font('Dancing+Script');
@include google-font('Rubik+Storm');

@include fancy-links;

// ***elements definition***
body {
  font-family: $text-font;
  color: $text-color;
  font-size: em(18px);
}

@include apply-to-ie-6 {
  body {
    font-size: 125%;
  }
}

h1, h2, h3, h4 {
  font-family: $headline-font;
}

h2 {
  @include large-text(100px, bold, red);
}

p {
  font-family: $text-font;
  font-size: $text-size;
}

a {
  color: $link-color;

  &:hover {
    color: darken($link-color, 50%)
  }
}

.warning-button {
  @include warning;
  padding: 8px 12px;

  &:hover {
    background-color: lighten(red, 20%)
  }
}

#header {
  @include box;
  @include box-shadow(2px 0px 4px #999, 1px 1px 6px $secondary-color);
  height: $header-height;
  background-color: $theme-color;

  
  #main-menu {
    li {
      display: inline;
    }
    a {
      color: $menu-color;
      padding: 6px 8px;
      border-bottom: 1px solid transparentize(#fefefe, 1);
      transition: border-bottom 0.5s;
      transition-timing-function: ease-in-out;

      &:hover {
        border-bottom: 1px solid opacify(#fefefe, .5);
      }
    }

  }
  
  #logo {

  }
}

#main {
  width: $content-width;
  margin-left: auto;
  margin-right: auto;

  #content {
    float: left;
    width: 6*$col;
  }

  #sidebar {
    float: right;
    width: 2*$col;
    // font-weight: $col;
  }

  
}

#footer {
  height: $footer-height;
  background-color: $ternary-color;
  @include clear;
}
