// *** color ***
$text-color: #222;
$theme-color: #170a48;
$secondary-color: #f2277731;
$ternary-color: #ccf962;
$link-color: $secondary-color;
$menu-color: white;

// *** fonts ***
$text-font: 'Dancing Script', verdana, Arial, sans-serif;
$headline-font: 'Rubik Storm','Palatino Linotype', 
Georgia, serif;
$text-size: 1.5rem;

// *** sizes ***
$content-width: 960px;
$footer-height: 90px;
$header-height: 60px;
$col: col-width($columns: 8);